.tangram--perso .figure1 {
    transform: rotate(45deg) translate(0px,-233px);
}

.tangram--perso .figure2 {
    transform: rotate(0deg) skew(-45deg) translate(192px,-0px);
}

.tangram--perso .figure3 {
    transform: rotate(45deg) translate(144px,-87px);
}

.tangram--perso .figure4 {
    transform: rotate(270deg) translate(-65px,448px);
}

.tangram--perso .figure5 {
    transform: rotate(0deg) translate(0px,0px);
}

.tangram--perso .figure6 {
    transform: rotate(270deg) translate(-317px,320px);
}
.tangram--perso .figure7 {
    transform: translate(128px,126px) rotate(90deg);
}