.tangram--square .figure1 {
    transform: rotate(0deg) translate(0px,0px);
}

.tangram--square .figure2 {
    transform: rotate(0deg) skew(-45deg) translate(192px,-0px);
}

.tangram--square .figure3 {
    transform: rotate(45deg) translate(143px,90px);
}

.tangram--square .figure4 {
    transform: rotate(0deg) translate(128px,128px);
}

.tangram--square .figure5 {
    transform: rotate(0deg) translate(0px,0px);
}

.tangram--square .figure6 {
    transform: rotate(0deg) translate(0px,256px);
}
.tangram--square .figure7 {
    transform: translate(0px,256px)rotate(0deg);
}
